@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);
}
body{
    font-size: 15px;
    font-family: "Lexen Deca", sans-serif;
    height: 100vh;
}
.main{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 10rem;
    /* width: 300px;
    height:300px; */
}
.sedans{
    font-size: 1rem;
    /* display: inline; */
    width: 300px;
    height:400px;
    background-color: hsl(31, 77%, 52%);
}
.suvs{
    font-size: 1rem;
    /* display: inline; */
    width: 300px;
    height:400px;
    background-color: hsl(179, 100%, 13%);
}
.luxury{
    font-size: 1rem;
    /* display: inline; */
    width: 300px;
    height:400px;
    background-color:  hsl(184, 100%, 22%);
}
h1{
    font-size: 15px;
    color: hsl(0, 0%, 95%);
    margin-inline: 1.5rem;
    margin-block-start: 1.5rem;
}
p{
    /* font-size: 21px; */
    color: hsl(0, 0%, 95%);
    margin-inline: 1.8rem;
    margin-block: 2rem;
    line-height: 2.5rem;
    max-width: 80%;
    
}

.cta{
      border: 1px solid white;
      border-radius: 2rem;
      color: white;
      cursor: pointer;
      box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.1);
      padding: 0.5rem 1.5rem;
      margin-inline-start: 2rem;
      
      text-decoration: none;
}
@media (max-width: 375px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    
}
    
